{% extends 'main/base.html' %}
{% block title %} Edit Work {% endblock %}


{% block content %}
<div class="page-background">
    <div class="form-container">
        <h1 class="form-heading">Edit Work</h1>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="form-get-group">
                {{ form.as_p }}
            </div>

            <h3 class="form-label">Select New Stacks</h3>
            <div class="checkbox-grid">
                {% for stack in stacks %}
                <div class="checkbox-container">
                    <input type="checkbox" name="stacks" value="{{ stack.id }}" id="stack_{{ stack.id }}"
                    {% if stack in work.stacks.all %}checked{% endif %}>
                    <label for="stack_{{ stack.id }}" class="checkbox-label">{{ stack.name }}</label>
                </div>
                {% endfor %}
            </div>

            <div class="form-button">
                <button type="submit" class="submit-button">Save Changes</button>
                <a href="{% url 'work-list' %}" class="submit-back">Back to List</a>
            </div>
        </form>
    </div>
</div>



{% endblock %}