
/* base.html */
.base-body {
  font-family: Arial, sans-serif;
  color: #2d3748;
  background-color: #f7fafc;
  margin: 0;
}
.base-header {
  background-color: #2d3748;
  color: #ffffff;
  padding: 20px 0;
}
.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.base-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.base-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.base-nav {
  display: flex;
  gap: 3rem;
}
.base-nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s;
}
.base-nav-link:hover {
  color: #63b3ed;
}
.base-main {
  padding: 40px 0;
}
.base-footer {
  background-color: #2d3748;
  color: #ffffff;
  padding: 20px 0;
}
.base-footer-content {
  text-align: center;
}
.base-footer p {
  margin: 0;
}


/* Add Edit html */
textarea {
  height: 5rem; 
  max-height: 5rem; 
  resize: none;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.page-background {
  background-color: #f5f5f5; 
  color: #333; 
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 20px 10px;
}
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #1a202c; 
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4a5568; 
}
.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
.checkbox {
  margin-right: 10px;
}
.checkbox-label {
  font-size: 14px;
  color: #2d3748; 
}
.form-button {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-top: 2rem;
}
.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1fac49; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: #1b752d; 
  cursor: pointer;
}
.submit-back{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3182ce; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-back:hover {
  background-color: #2b6cb0; 
  cursor: pointer;
}
.form-get-group p{
 display: flex;
 flex-direction: column;
}
.form-get-group p label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4a5568;
}

/* List html */
.list-container {
  max-width: 90%;
  min-height: 100vh;
  margin: 1rem auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.list-content {
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
.list-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.list-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #a9a8a8;
}
.list-table-header {
  background-color: #3182ce;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.list-table-cell {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #a9a8a8;
}
.list-table-row:hover {
  background-color: #f7fafc;
}
.list-link {
  color: #3182ce;
  text-decoration: none;
}
.list-link:hover {
  text-decoration: underline;
}
.list-stack-tag {
  display: inline-block;
  background-color: #e2e8f0;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 3px;
}
.list-stack-placeholder {
  color: #e2e8f0;
}
.list-action-link {
  color: #3182ce;
  text-decoration: none;
}
.list-delete-link {
  color: #e53e3e;
}
.list-action-link:hover, .list-delete-link:hover {
  text-decoration: underline;
}
.list-empty-message {
  text-align: center;
  color: #a0aec0;
  padding: 20px;
}
.list-button-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.list-button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.list-new {
  background-color: #3182ce;
  color: white;
}
.list-return-back {
  text-decoration: none;
  background-color: #e2e8f0;
  color: black;
}
.list-button:hover {
  opacity: 0.8;
}

/* Delete html */
.del-container {
  background-color: #f5f5f5; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.del-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.del-heading {
  font-size: 18px;
  font-weight: bold;
  color: #e53e3e; /* Red color for delete prompt */
}
.del-info {
  margin-top: 8px;
  font-size: 14px;
}
.del-form {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.del-button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.del-delete-button {
  background-color: #f56565; /* Red color for delete */
  color: #fff;
}
.del-delete-button:hover {
  background-color: #c53030;
}
.del-cancel-button {
  background-color: #edf2f7; /* Light gray background for cancel */
  color: #2d3748; /* Dark text */
  text-align: center;
}
.del-cancel-button:hover {
  background-color: #e2e8f0;
}

/* Dashboard html  */
.dashboard-container{
  max-width: 90%;
  min-height: 100vh;
  margin: 1rem auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard-heading{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
.dashboard-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.dashboard-link-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 20px;  
  width: 80%;  
  max-width: 40rem;
}
.dashboard-link-div {
  display: flex;
  justify-content: center;
}
.dashboard-link {
  display: block;
  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #3182ce; 
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%; 
  box-sizing: border-box; 
  color:white;
}
.dashboard-link:hover {
  background-color: #3e639a;  
}
.dashboard-link:focus {
  outline: none;
}

