{% extends 'main/base.html' %}
{% block title %} Add Education {% endblock %}


{% block content %}
<div class="page-background">
    <div class="form-container">
        <h1 class="form-heading">Add New Education</h1>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="form-grid">
                <div class="form-group">
                    <label for="id_degree" class="form-label">Degree</label>
                    {{ form.degree }}
                </div>
                <div class="form-group">
                    <label for="id_major" class="form-label">Major</label>
                    {{ form.major }}
                </div>
                <div class="form-group">
                    <label for="id_school" class="form-label">School</label>
                    {{ form.school }}
                </div>
                <div class="form-group">
                    <label for="id_date" class="form-label">Date</label>
                    {{ form.date }}
                </div>
                <div class="form-group">
                    <label for="id_course" class="form-label">Course</label>
                    {{ form.course }}
                </div>

                <div class="form-button">
                    <button type="submit" class="submit-button">Add Education</button>
                    <a href="{% url 'education-list' %}" class="submit-back">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>











{% endblock %}