{% extends 'main/base.html' %}
{% block title %} Edit Education {% endblock %}


{% block content %}
<div class="page-background">
    <div class="form-container">
        <h1 class="form-heading">Edit Education</h1>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="form-get-group">
                {{ form.as_p }}
            </div>
            <div class="form-button">
                <button type="submit" class="submit-button">Save Changes</button>
                <a href="{% url 'education-list' %}" class="submit-back">Back to List</a>
            </div>
        </form>
    </div>
</div>



{% endblock %}