{% extends 'main/base.html' %}
{% block title %} My Projects {% endblock %}


{% block content %}
<div class="list-container">
  <div class="list-content">
    <p class="list-heading">Manage Projects</p>

    <table class="list-table">
      <thead>
        <tr class="list-table-header">
          <th class="list-table-cell">Image</th>
          <th class="list-table-cell">Title</th>
          <th class="list-table-cell">Live</th>
          <th class="list-table-cell">GitHub</th>
          <th class="list-table-cell">Stack</th>
          <th class="list-table-cell">Edit</th>
          <th class="list-table-cell">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr class="list-table-row hover:bg-gray-100">
          <td class="list-table-cell">
            {% if project.image %}
            <img src="{{ project.image.url }}" width="200" />
            {% endif %}
          </td>
          <td class="list-table-cell">{{ project.title }}</td>
          <td class="list-table-cell">
            <a href="{{ project.url }}" class="list-link" target="_blank">
              {{ project.url }}
            </a>
          </td>
          <td class="list-table-cell">
            <a href="{{ project.github }}" class="list-link" target="_blank">
              {{ project.github }}
            </a>
          </td>
          <td class="list-table-cell">
            {% if project.stacks.all %}
              {% for stack in project.stacks.all %}
              <span class="list-stack-chip">{{ stack.name }}</span>
              {% endfor %}
            {% else %}
              <span class="list-empty-text">Add stacks</span>
            {% endif %}
          </td>
          <td class="list-table-cell">
            <a href="{% url 'edit-project' project.id %}" class="list-action-link">Edit</a>
          </td>
          <td class="list-table-cell">
            <a href="{% url 'delete-project' project.id %}" class="list-action-link list-delete-link">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" class="list-empty-message">
            No projects available.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="list-button-container">
      <a href="{% url 'add-project' %}" class="list-button list-new">New Project</a>
      <a href="{% url 'dashboard-view' %}"  class="list-button list-return-back">Return Back</a>
    </div>
  </div>
</div>



{% endblock %}
