{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Kevin's CMS {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body class="base-body">

    <header class="base-header">
        <div class="base-container base-header-container">
            <a href="{% url 'dashboard-view' %}" class="base-logo">Kevin's CMS</a>
            
            <nav class="base-nav">
                <a href="{% url 'dashboard-view' %}" class="base-nav-link">Dashboard</a>
                <a href="{% url 'project-list' %}"  class="base-nav-link">Projects</a>
                <a href="{% url 'work-list' %}" class="base-nav-link">Work</a>
                <a href="{% url 'stack-list' %}" class="base-nav-link">Stack</a>
                <a href="{% url 'education-list' %}" class="base-nav-link">Education</a>
            </nav>

            <div class="base-login">
                {% if user.is_authenticated %}
                    <p>Welcome {{ user.username }}</p>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <p>You are not logged in.</p>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>

        </div>
    </header>

    <main class="base-container base-main">
        {% block content %}{% endblock %}
    </main>

    <footer class="base-footer">
        <div class="base-container base-footer-content">
            <p>&copy; 2024 Kevin Lu. All rights reserved.</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>


</html>
